{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Blood with Failed Test From the System</legend>
                <a class="nav-item nav-link" href="{{ url_for('viewbloodfailtest2') }}">Before deleting data, please click to confirm the BLOOD DONATION ID</a>

                <div class="form-group">
                      {{ form.Donation_ID.label(class="form-control-label") }}
                      {% if form.Donation_ID.errors %}
                          {{ form.Donation_ID(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.Donation_ID.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.Donation_ID(class="form-control form-control-lg") }}
                      {% endif %}
                </div>

            </fieldset>

<!--Submit button-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
