{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h3>COMP 353/453 - Database Programming</h3>
      <br/>
      <h4>Group-4 Database Project</h4>
      <h4>(Blood Donation System)</h4>
      <br/>
      <img src="{{url_for('static', filename='blood1.jpg')}}" width="690" height="200" />
      <br/><br/>
      <h5>A system designed to keep track of blood <br/>donor, blood test data and supply records.</h5>
      <br/>
      <h4>Group-4 Members</h4>
      <h5>Isabel Heard<br/>Mia Flowers<br/>Muyiwa Coker</h5>
      <br/>
      <h4>Loyola University Chicago</h4>
      <h4>December, 2021</h4>
    </div>
  </div>
</article>
{% endblock content %}
